@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --paynes-gray: #393e46;
  --jonquil-yellow: #ffd369;
  --isabelline-grey: #eeeeee;
  --salmon-red: #ff8869;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  background-color: var(--isabelline-grey);
  font-family: 'Montserrat', sans-serif;
  color: var(--paynes-gray);
}

br {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


/* Navbar Styles */

nav {
  font-family: 'Major Mono Display', monospace;
  height: 10vh;
  background-color: var(--paynes-gray);
  color: var(--isabelline-grey);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 2;
}

.app-logo {
  height: 6vh;
  margin: 20px;
}

h1 {
  color: var(--jonquil-yellow);
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: flex-end;
}

nav li {
  list-style-type: none;
  margin: 0 25px;
}

nav a {
  color: var(--isabelline-grey);
  text-decoration: none;
}

nav a:hover {
  color: var(--jonquil-yellow);
  text-decoration: underline;
}

.items-counter {
  color: var(--jonquil-yellow);
}


/* Products List Styles */

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--paynes-gray);
  border-radius: 3px;
  margin: 3vh;
  text-align: center;
}

.product-card h3 {
  background-color: var(--paynes-gray);
  color: var(--isabelline-grey);
  padding: 10px 0;
  font-weight: normal;
}

.product-card img {
  max-width: 500px;
}

.product-card form {
  margin-top: 10px;
}

.product-card label {
  margin-right: 10px;
}

.product-card input[type="number"] {
  width: 40px;
}

.product-card p {
  margin: 10px 0;
}

.product-card input[type="submit"] {
  width: 100%;
  border: none;
  background-color: var(--jonquil-yellow);
  color:inherit;
  padding: 10px;
}

.product-card input[type="submit"]:hover {
  cursor: pointer;
  background-color: #FFEB69;
}
