@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --paynes-gray: #393e46;
  --jonquil-yellow: #ffd369;
  --isabelline-gray: #eeeeee;
  --salmon-red: #ff8869;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  background-color: var(--isabelline-gray);
  font-family: 'Montserrat', sans-serif;
  color: var(--paynes-gray);
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.about-section {
  margin: 5vh 50px;
  text-align: justify;
}

/* Navbar Styles */

nav {
  font-family: 'Major Mono Display', monospace;
  height: 10vh;
  background-color: var(--paynes-gray);
  color: var(--isabelline-gray);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 2;
}

.app-logo {
  height: 6vh;
  margin: 20px;
  -webkit-user-drag: none;
  user-drag: none;
}

h1 {
  color: var(--jonquil-yellow);
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: flex-end;
}

nav li {
  list-style-type: none;
  margin: 0 25px;
}

nav a {
  color: var(--isabelline-gray);
  text-decoration: none;
}

nav a:hover {
  color: var(--jonquil-yellow);
  text-decoration: underline;
}

.items-counter {
  color: var(--jonquil-yellow);
}


/* Products List Styles */

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--paynes-gray);
  border-radius: 3px;
  margin: 3vh;
  text-align: center;
  -webkit-box-shadow: 10px 10px 0px 0px #8892a6;
  box-shadow: 10px 10px 0px 0px #8892a6;

}

.product-card h3 {
  background-color: var(--paynes-gray);
  color: var(--isabelline-gray);
  padding: 10px 0;
  font-weight: normal;
}

.product-card h3 span {
  color: var(--jonquil-yellow);
}

.product-card img {
  max-width: 300px;
  -webkit-user-drag: none;
  user-drag: none;
}

.product-card button {
  width: 100%;
  border: none;
  background-color: var(--jonquil-yellow);
  border-top: 1px solid var(--paynes-gray);
  color:inherit;
  padding: 10px;
}

.product-card button:hover {
  cursor: pointer;
  background-color: #FFDE8F;
}

.product-card button:disabled,
.product-card button[disabled] {
  background-color: var(--isabelline-gray);
  cursor: default;
}

/* Cart Styles*/

.products-cart-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
}

.product-cart-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--paynes-gray);
  border-radius: 3px;
  margin: 10px;
}

.product-cart-card .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2vw;
  flex-grow: 2;
}

.product-cart-card .title p {
  margin-left: 4vw;
  font-weight: bold;
}

.product-cart-card img {
  border: 1px solid var(--paynes-gray);
  max-width: 100px;
  -webkit-user-drag: none;
  user-drag: none;
}

.product-cart-card .price {
  margin: 2vw;
}

.product-cart-card .amount {
  display: flex;
  justify-self: flex-end;
  flex-direction: row;
  align-items: center;
  margin: 2vw;
}

.product-cart-card button {
  border: none;
  border-radius: 50%;
  height: 2vw;
  width: 2vw;
  background-color: var(--jonquil-yellow);
  margin: 5px;
}

.product-cart-card .delete {
  background-color: var(--salmon-red);
}

.product-cart-card button:hover {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.product-cart-card .amount .total {
  margin: 20px;
}

.cart-total {
  margin: 2vh 20px 0 0;
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: overline;
}
